<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="http://198.199.116.102/css/main.css">
    <script type="text/javascript" src="paging.js"></script>  
    <script type="text/javascript" src="http://198.199.116.102/js/paging.js"></script>  
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--<script type="text/javascript" src="http://198.199.116.102/js/main.js"></script>-->
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://198.199.116.102">CSE 135 -- HW 2</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <table id="tableData" class="table table-striped">
<<<<<<< HEAD
            <thead>
	    <tr>
=======
        <thead> 
            <tr>
>>>>>>> 181c3c010601b6d17acb79c9e92817a1edf9370c
                <th>Rank</th>
                <th>Title</th>
                <th>Studio</th>
                <th>Box Office</th>
                <th>Year</th>
                <th>Poster</th>
                <th>Update</th>
            </tr>
<<<<<<< HEAD
	    </thead>
=======
        </thead> 
>>>>>>> 181c3c010601b6d17acb79c9e92817a1edf9370c
            <tbody>
                <% var i = 0; results.forEach(function (record) { %>
                <tr id="row<%=i+1%>">
                    <td><%= ++i %></td>
                    <td><%= record.title %></td>
                    <td><%= record.studio %></td>
                    <td><%= record.boxOffice %></td>
                    <td><%= record.year %></td>
                    <td><img class="poster" src="<%=record.picture%>" alt="<%=record.title%>"></td>
                    <!--<td><button type="button" class="updateButton btn btn-default">Update</button></td>-->
                    <!--<td><button type="button" class="deleteButton btn btn-danger">Delete</button></td>-->
                    <td><a href="http://198.199.116.102:8000/movies/<%=record.movie_id%>/edit"
                           class="updateButton btn btn-default">Update</a></td>
                    <td><a href="http://198.199.116.102:8000/movies/<%=record.movie_id%>/edit"
                           class="deleteButton btn btn-danger">Delete</a></td>
                    <td style="display:none"><%=record.movie_id%></td>
                </tr>
                <%});%>
            </tbody>
        </table>
    </div>
</div>

<script>
    $('.updateButton').click(function(){
        console.log("update button is clicked");
        var id = $(this).next().value;
        location.href="http://198.199.116.102:8000/movies/" + id + "/edit";
    });
    $('.deleteButton').click(function(){
        console.log("delete button is clicked");
        var id = $(this).next().value;
        location.href="http://198.199.116.102:8000/movies/" + id + "/edit";
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
            $('#tableData').paging({limit:5});
    });
</script>   

</body>
</html>
