<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="http://198.199.116.102/css/main.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://198.199.116.102">CSE 135 -- HW 2</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <table class="table table-striped">
            <tr>
                <th>Rank</th>
                <th>Title</th>
                <th>Studio</th>
                <th>Box Office</th>
                <th>Year</th>
                <th>Poster</th>
                <th>Update</th>
            </tr>
            <% var i = 0; result.forEach(function () { %>
            <tr>
                <th><%= i++ %></th>
                <th><%= result.title %></th>
                <th><%= result.studio %></th>
                <th><%= result.boxOffice %></th>
                <th><%= result.year %></th>
                <th><img src="<%=result.picture%>" alt="<%=result.title%>"></th>
                <th><button type="button" class="updateButton">Update</button></th>
            </tr>
            <%});%>
        </table>
    </div>
</div>

</body>
</html>